@font-face {
    font-family: 'Your Font Name';
    src: url('fonts/neuropol x rg.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed height to min-height for better responsiveness */
    background-color: black;
    color: #d5f9fc; 
    font-family: 'Your Font Name', sans-serif;
    text-align: center;
}

.illusion-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 50px; /* Increased margin for better spacing */
}

.square {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid #d5f9fc;
    box-sizing: border-box;
    animation: rotate 10s infinite linear;
}

#square1 {
    animation-delay: 0s;
}
#square2 {
    animation-delay: 2.5s;
}
#square3 {
    animation-delay: 5s;
}
#square4 {
    animation-delay: 7.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    color: #93fbed;
    margin-top: 50px; /* Added margin to move the content down */
}

h1 {
    font-size: 4em;
    text-shadow:
        1px 1px 0 rgba(0, 255, 0, 0.2),
        2px 2px 0 rgba(0, 255, 0, 0.2),
        3px 3px 0 rgba(0, 255, 0, 0.2),
        4px 4px 0 rgba(0, 255, 0, 0.2),
        5px 5px 0 rgba(0, 255, 0, 0.2),
        6px 6px 0 rgba(0, 255, 0, 0.2),
        7px 7px 0 rgba(0, 255, 0, 0.2),
        8px 8px 0 rgba(0, 255, 0, 0.2),
        9px 9px 0 rgba(0, 255, 0, 0.2),
        10px 10px 0 rgba(0, 255, 0, 0.2);
    color: rgba(0, 255, 0, 0.2);
}

p {
    font-size: 2em;
}

.cool-button {
    background-color: transparent;
    border: 2px solid #d5f9fc;
    color: #d5f9fc;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Your Font Name', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.cool-button:hover {
    background-color: #d5f9fc;
    color: black;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    .illusion-container {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .square {
        width: 100px;
        height: 100px;
        border: 5px solid #d5f9fc;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .cool-button {
        padding: 8px 15px;
        font-size: 1em;
    }
}