@font-face {
    font-family: 'Arab Dances';
    src: url('fonts/ArabDances.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: #00ff00; /* Terminal green */
    font-family: 'Arab Dances', sans-serif;
    text-align: center;
}

.illusion-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.square {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid #00ff00;
    box-sizing: border-box;
    animation: rotate 10s infinite linear;
}

#square1 {
    animation-delay: 0s;
}
#square2 {
    animation-delay: .5s;
}
#square3 {
    animation-delay: 1s;
}
#square4 {
    animation-delay: 1.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    color: #93fbed;
}

h1 {
    font-size: 4em;
    text-shadow:
        1px 1px 0 rgba(0, 255, 0, 0.2),
        2px 2px 0 rgba(0, 255, 0, 0.2),
        3px 3px 0 rgba(0, 255, 0, 0.2),
        4px 4px 0 rgba(0, 255, 0, 0.2),
        5px 5px 0 rgba(0, 255, 0, 0.2),
        6px 6px 0 rgba(0, 255, 0, 0.2),
        7px 7px 0 rgba(0, 255, 0, 0.2),
        8px 8px 0 rgba(0, 255, 0, 0.2),
        9px 9px 0 rgba(0, 255, 0, 0.2),
        10px 10px 0 rgba(0, 255, 0, 0.2);
    color: rgba(0, 255, 0, 0.2);
}

p {
    font-size: 2em;
}

.cool-button {
    background-color: transparent;
    border: 2px solid #d5f9fc;
    color: #d5f9fc;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Arab Dances', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.cool-button:hover {
    background-color: ##d5f9fc;
    color: black;
}